.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Mother-child1.png")}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {text-shadow: 0 2px 8px rgba(128,128,128,1); font-size: 3rem; margin: 290px auto 0 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {animation-duration: 5750ms} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {font-size: 2.25} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 .u-sheet-1 {min-height: 566px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto}
.u-section-2 .u-layout-cell-1 {min-height: 566px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 349px; height: 388px; margin: 0 auto}
.u-section-2 .u-text-1 {text-transform: uppercase; letter-spacing: 2px; font-size: 1.125rem; line-height: 29px; width: 419px; font-weight: 400; margin: 20px auto 0}
.u-section-2 .u-layout-cell-2 {min-height: 566px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-2 {line-height: 1.2; font-size: 1.875rem; font-weight: 900; margin: 121px 10px 0 34px}
.u-section-2 .u-text-3 {font-size: 1.25rem; margin: 34px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 543px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 467px}
.u-section-2 .u-layout-cell-2 {min-height: 467px}
.u-section-2 .u-text-2 {margin-top: 0; margin-right: 14px; margin-left: 0; animation-duration: 5000ms}
.u-section-2 .u-text-3 {margin-right: 14px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {width: 300px; height: 374px}
.u-section-2 .u-text-1 {width: 300px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-2 {font-size: 2.25rem; margin-right: 0}
.u-section-2 .u-text-3 {margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 200px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {width: 381px}
.u-section-2 .u-text-1 {width: 381px}
.u-section-2 .u-text-2 {font-size: 2.25} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {width: 320px; height: 314px}
.u-section-2 .u-text-1 {width: 320px} }.u-section-3 {min-height: 547px}
.u-section-3 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-image-1 {background-image: url("images/pregnantmother.png"); background-position: 50% 50%; min-height: 547px}
.u-section-3 .u-container-layout-1 {padding: 30px 0 30px 30px}
.u-section-3 .u-shape-1 {width: 116px; height: 142px; background-image: none; margin: 0 0 0 auto}
.u-section-3 .u-layout-cell-2 {min-height: 611px}
.u-section-3 .u-container-layout-2 {padding: 60px 30px}
.u-section-3 .u-text-1 {text-transform: uppercase; font-size: 1.125rem; letter-spacing: 2px; font-weight: 700; margin: 0}
.u-section-3 .u-text-2 {font-weight: 700; text-shadow: -2px -2px 8px rgba(128,128,128,1); margin: 20px 0 0}
.u-section-3 .u-text-3 {font-size: 1.125rem; margin: 47px 0 0}
.u-section-3 .u-social-icons-1 {white-space: nowrap; height: 25px; min-height: 16px; width: 169px; min-width: 133px; margin: 33px auto 0 115px}
.u-section-3 .u-icon-1 {height: 100%}
.u-section-3 .u-icon-2 {height: 100%}
.u-section-3 .u-icon-3 {height: 100%}
.u-section-3 .u-icon-4 {height: 100%}
.u-section-3 .u-image-2 {min-height: 547px; background-image: url("images/Mother-child.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-3 {padding: 60px 30px 60px 0}
.u-section-3 .u-shape-2 {width: 116px; height: 142px; background-image: none; margin: 0 auto 0 0} 

@media (max-width: 1199px){ .u-section-3 {min-height: 515px}
.u-section-3 .u-image-1 {min-height: 428px}
.u-section-3 .u-layout-cell-2 {min-height: 528px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {font-size: 2.25rem}
.u-section-3 .u-image-2 {min-height: 451px} }

@media (max-width: 991px){ .u-section-3 {min-height: 2207px}
.u-section-3 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 1px}
.u-section-3 .u-image-1 {min-height: 518px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px}
.u-section-3 .u-image-2 {min-height: 821px}
.u-section-3 .u-container-layout-3 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-3 {min-height: 2261px}
.u-section-3 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-image-1 {min-height: 777px}
.u-section-3 .u-container-layout-1 {padding-left: 10px}
.u-section-3 .u-text-2 {font-size: 3rem}
.u-section-3 .u-image-2 {min-height: 616px}
.u-section-3 .u-container-layout-3 {padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 {min-height: 1745px}
.u-section-3 .u-image-1 {min-height: 489px}
.u-section-3 .u-image-2 {min-height: 388px} }